@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
body{
  background-color: #1B4445;
  font-family: 'Poppins', sans-serif;
}

.title-underline {
  color: #ffffff; /* Warna teks putih */
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline; /* Menambahkan garis bawah pada teks */
  font-size: 30px; /* Mengatur ukuran teks */
  font-weight: 700; /* Mengatur teks menjadi bold */
  font-family: 'Poppins', sans-serif; /* Mengatur font menjadi Poppins */
}
.card-text.no-margin {
  margin-bottom: 0;
  color: #F18200;
  font-size: 14px; /* Mengatur ukuran teks */
  font-weight: 700; /* Mengatur teks menjadi bold */
  font-family: 'Poppins', sans-serif;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #060606;
  margin-bottom: 0;
}

.card-text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #000000;
  margin-bottom: 0;
  font-weight: 400;
  margin-top: -5px;
}

/* reminder.css */
.custom-card {
  width: 50%;
  margin: 5px;; /* Untuk memusatkan card secara horizontal */
}

.card-large {
  width: 1250px;
  background: white;
  box-shadow: 0px 2px 21.3px rgba(170, 170, 170, 0.25);
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
}

.close-icon {
  color: rgb(0, 0, 0);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}


.card {
  position: relative;
}

.btn-container {
  display: flex; /* Atur posisi di sini (flex-start, center, flex-end, space-between, space-around) */
  text-align: right !important; 
}

.btn {
/* Geser tombol ke kiri sebanyak 20px */
  text-align: right !important;
}


.modal-header {
  color: rgb(238, 139, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align :center;
}
.modal-content {
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.modal-footer {
  background: #faf9f8;
  justify-content: center; /* Center the button */
}
.btn-danger {
  background: linear-gradient(45deg, #e52e71, #ff8a00);
  border: none;
  justify-content: center; 
}
.modal-body img {
  border:  1px solid #ffffff;
}

.consultation-date span {
  margin-right: 10px;
}

.filter-form {
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 125%;
 height: 70px; 
}

.container-custom {
  padding-left: 20px;
  padding-right: 20px;
}

.history-consultation {
  padding-left: 20px;
  font-size: 24px;
}

.form-group {
  margin-right: 10px;

}

.btn-primary {
  background-color: #43A9AB;
  border-color: #43A9AB;
  margin-right: 10px !important; /* Menggeser tombol ke kanan sejauh 10px */
  
}

.btn-primary:hover {
  background-color: #2b7a7c;
  border-color: #2b7a7c;
}

.form-control {
  width: auto;
  border-radius: 5px;
}

.detail-content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}



.button-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.btn-danger {
  background: linear-gradient(45deg, #e52e71, #ff8a00);
  border: none;
}


.detail-text {
  flex: 1; /* Agar teks mengambil sisa ruang yang tersedia */
  margin-right: 20px;
  max-width: 1000px; /* Batas kanan tulisan detail */
}



